.deals-product-section {
    display: inline-block;
    width: 100%;
    padding: 40px 22px;
    color: var(--text-primary);
}

.deals-product-section .deals-product-sec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.deals-product-section .deals-product-sec-header h2 {
    font-weight: bold;
}

.deals-product-sec-header .deal-items-wrap,
.deals-product-sec-header .deal-timer-wrap {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.deal-timer-wrap .deal-timer {
    background: var(--primary);
    color: var(--background);
    padding: 5px 22px;
    border-radius: 5px;
}

.deals-product-section .deals-product-sec-body {
    display: flex;
    column-gap: 1rem;
}

.deals-product-sec-body .deal-product-banner {
    position: relative;
}

.deal-product-banner .deal-product-overlay,
.deals-product-sec-body .deal-product-banner img {
    border-radius: 8px;
}

.deal-product-banner .deal-product-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-bg-overlay);
}

.deals-product-sec-body .deal-product-banner img {
    width: 360px;
    height: 866px;

}

.deals-product-section .deals-product-sec-items-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 8px;
    width: 100%;
}

@media screen and (max-width:750px) {
    .deals-product-section .deals-product-sec-header {
        justify-content: center;
        row-gap: 5px;
        margin-bottom: 35px;
    }

    .deals-product-section .deals-product-sec-body,
    .deals-product-sec-body .deal-product-banner img {
        width: 100%;
    }

    .deals-product-section .deals-product-sec-body {
        row-gap: 1rem;
    }

    .deals-product-sec-header .deal-items-wrap {
        row-gap: 8px;
    }

    .deals-product-section .deals-product-sec-items-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}