:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --primary-fully-dark: #0b0b78;
    --primary-light: #60a5fa;
    --secondary: #10b981;
    --secondary-dark: #059669;
    --background: #ffffff;
    --body-background: #e9e9e9;
    --surface: #f8fafc;
    --text-primary: #1e293b;
    --text-secondary: #64748b;
    --font-body: "Inter", sans-serif;
    --bs-border: #cccccc37;
    --bs-border-1: #ccc;
    --bs-rating: #FBCD0A;
    --bs-bg-overlay: rgb(0, 0, 0, 0.3);
}