@import url('_announcementbar.css');
@import url('_sidebar.css');
/* 
* Header is given 
*/

#app-main-header {
    background: var(--background);
    font-family: var(--font-body);
    position: relative;
    z-index: 998;
    border-bottom: 1px solid var(--bs-border-1);

}

#app-main-header .header-items-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-items-wrap .app-logo {
    width: 120px;
}

.header-items-wrap .header-search-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.header-search-wrap .header-search-btn,
.header-search-wrap select,
.header-search-wrap input {
    border-radius: 0px !important;
}

.header-search-wrap input,
.header-search-wrap select {
    padding: 12px 16px;
}

.header-search-wrap select {
    width: 150px;
    border-top-left-radius: 10px !important;
}

.header-search-wrap input {
    width: 650px;
}

.header-search-wrap .header-search-btn {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding: 16px 22px;
}

#app-main-header .header-features-wrap {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.header-features-wrap a svg {
    width: 35px;
    height: 35px;
}

.header-features-wrap .account-feature-btn {
    display: block;
}

.search-feature-btn,
.humbarger-menu {
    display: none;
}

.header-features-wrap .cart-feature-btn,
.header-features-wrap .wishlist-feature-btn {
    position: relative;
}

.cart-feature-btn .items-counter,
.wishlist-feature-btn .items-counter {
    background: var(--primary);
    color: var(--background);
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    top: -2px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.app-navigation-container {
    border-top: 1px solid var(--bs-border-1);
    padding: 1rem 0;
    position: relative;
    transition: 0.4s linear;
}

.app-navigation-container .navigation-items-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app-navigation-container .navigation-items-wrap a {
    color: var(--text-primary);
}

.navigation-items-wrap .app-menus-wrap {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.app-menus-wrap .category-dropdown-btn {
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    width: 190px;
    column-gap: 0.85rem;
    border-right: 1px solid var(--bs-border-1);
}

.app-menus-wrap .app-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 24px;
    color: var(--text-primary);
}

.app-nav-list .nav-link {
    font-size: 16px;
}

.nav-link svg {
    width: 16px;
}

.category-menu-dropdown {
    position: absolute;
    top: 100%;
    left: 5.4%;
    padding: 18px 12px;
    border-radius: 5px;
    min-width: 14rem;
    visibility: hidden;
    transition: 0.4s linear;
    opacity: 0;
    background: var(--background);
    z-index: 99;
    margin-top: 0.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.category-menu-dropdown.active {
    visibility: visible;
    opacity: 1;
}

.category-menu-dropdown .category-menu-list,
.category-menu-list .category-menu-item,
.category-submenu-items .category-submenu-item {
    list-style: none;
}


.category-menu-list .category-menu-item {
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 15px;
    border-bottom: 1px solid #cccccc3c;
}

.category-menu-list .category-menu-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.category-menu-item .category-menu-link {
    display: flex;
    align-items: center;
    column-gap: 0.35rem;
    text-decoration: none;
}

.category-menu-link .category-menu-icon {
    position: absolute;
    right: 0;
}

.category-submenu-dropdown {
    position: absolute;
    top: -7px;
    left: 219px;
    min-width: auto;
    background: var(--background);
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.category-menu-item:hover .category-submenu-dropdown {
    opacity: 1;
    visibility: visible;
}

.category-submenu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 110px;
}

.category-submenu-items strong {
    color: var(--text-primary);
}

.category-submenu-item a {
    display: block;
    padding: 6px 0;
    text-decoration: none;
    color: var(--text-primary);
    font-size: 14px;
}

.category-submenu-item a:hover {
    color: var(--primary);
}

.category-submenu-dropdown .category-submenu-items-wrap {
    display: flex;
    gap: 30px;
}

#app-main-header.sticky-app-header,
.app-navigation-container.sticky-app-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background);
    color: var(--text-primary);
}


@media screen and (max-width:999px) {
    .header-items-wrap .app-logo {
        width: 80px;
    }

    .app-navigation-container,
    .header-features-wrap .wishlist-feature-btn,
    .header-items-wrap .header-search-wrap {
        display: none;
    }

    .search-feature-btn,
    .humbarger-menu {
        display: block;
    }

    .header-features-wrap a svg {
        width: 28px;
        height: 28px;
    }

    .cart-feature-btn .items-counter {
        right: -5px;
        top: -4px;
    }
}