a.link-inherit {
  color: inherit !important;
  text-decoration: none !important;
  -webkit-transition: all ease-in-out .3s !important;
  transition: all ease-in-out .3s !important;
}

.app-layout-header {
  background: #fff;
  color: var(--text-primary);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 350px);
  position: fixed;
  top: 0;
  left: 350px;
  z-index: 900;
  transition: 0.5s linear;
}



.app-layout-header .header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-layout-header .header-left #appSidebarToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #212529;
}

.app-layout-header .header-left #appSidebarToggle svg {
  fill: #212529;
}

.app-layout-header .header-left .header-title {
  font-size: 19px;
  margin-bottom: 0;
  font-weight: 600;
}

.app-layout-header .header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.app-layout-header .header-right .header-icon {
  cursor: pointer;
  position: relative;
}

.app-layout-header .header-right .header-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-layout-header .header-right .header-profile img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  object-fit: cover;
}

.app-layout-header .header-right .header-profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.app-layout-header .header-right .header-profile ul li.username {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 2.3;
}

.app-layout-header .header-right .header-profile ul li.role {
  text-align: center;
  font-size: 12px;
  color: #777;
}

@media screen and (max-width: 999px) {

  .app-layout-header .header-left .header-title,
  .app-layout-header .header-right .header-icon {
    display: none;
  }

  .app-layout-header .header-right .header-profile ul li.username {
    font-weight: 600;
    font-size: 0.88rem;
  }

  .app-layout-header .header-right .header-profile img {
    width: 35px;
    height: 35px;
  }

  .app-layout-header,
  .app-header-spc-remove {
    left: 0 !important;
    width: 100% !important;
  }

  .app-layout-header .header-right .header-profile ul li.role {
    font-size: 0.85rem;
    color: #777;
  }
}

.app-header-spc-remove {
  left: 150px;
  width: calc(100% - 150px);
}


.app-sidebar::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none !important;
}

.app-sidebar {
  width: 350px;
  height: 100vh;
  overflow-y: auto;
  max-height: 100vh;
  background: #fff;
  color: var(--text-primary);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(171, 171, 171, 0.3960784314);
  z-index: 1000;
  transition: 0.5s linear;
}

.app-sidebar .sidebar-item-container {
  padding: 18px;
}

.app-sidebar .sidebar-item-container .sidebar-header-wrap .sidebar-logo {
  display: flex;
  justify-content: center;
}

.app-sidebar .sidebar-item-container .sidebar-header-wrap .sidebar-logo img {
  max-width: 100%;
  width: 132px;
  height: auto;
}

.app-sidebar .sidebar-item-container .sidebar-sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background: #ffffff;
  transition: 0.5s linear;
  padding: 4px 0 0 0;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.2s ease, color 0.2s ease;
  opacity: 1;
  transform: translateX(0);
}

.app-sidebar .sidebar-item-container .sidebar-menu-list .menu-heading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li {
  margin-bottom: 4px;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li .dropdown-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li .dropdown-btn-wrap .dropdown-btn-col-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 12px;
  border-radius: 6px;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  transition: background 0.2s ease, color 0.2s ease;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li a iconify-icon {
  font-size: 1.3rem;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li a svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li a svg:hover {
  fill: #fff;
}



.app-sidebar .sidebar-item-container .sidebar-menu-list li a:hover .app-sidebar .sidebar-item-container .sidebar-menu-list li a.active {
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li a.active svg {
  fill: #fff;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li .sidebar-active-page-menu {
  background: var(--primary);
  color: white;
}

.app-sidebar .sidebar-item-container .sidebar-menu-list li .sidebar-active-page-menu iconify-icon {
  color: var(--background);
}

.app-sidebar .sidebar-footer {
  padding: 12px 16px;
  border-top: 1px solid #eee;
  font-size: 13px;
  color: #666;
  text-align: center;
}

.app-sidebar .close-btn {
  display: none;
  color: white;
  background: var(--primary);
  padding: 8px 12px;
  height: 44px;
  border-radius: 4px;
}

.app-sidebar .close-btn svg,
.app-sidebar .close-btn iconify-icon {
  color: white !important;
}

.app-sidebar .has-submenu {
  position: relative;
}

.app-sidebar .has-submenu>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-sidebar .has-submenu>a p {
  margin-bottom: 0;
}

.app-sidebar .has-submenu .submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
  list-style: none;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.app-sidebar .has-submenu .submenu a {
  padding: 8px 12px;
  font-size: 14px;
  color: #555;
}

.app-sidebar .has-submenu .submenu a:hover {
  color: white;
  background: var(--primary);
  border-radius: 6px;
}

.app-sidebar .has-submenu.open .submenu {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.app-sidebar .has-submenu.open>a .chervon-arrow-down {
  transform: rotate(180deg);
}

.app-sidebar-close {
  width: 150px;
  z-index: 9999;
}

.app-sidebar-close .chervon-arrow-down {
  display: none;
}

@media screen and (max-width: 999px) {
  .app-sidebar-close .chervon-arrow-down {
    display: inline-block;
    width: 100%;
  }
}

.app-sidebar-close .sidebar-item-container .sidebar-header-wrap .sidebar-logo img {
  position: relative;
  left: 4px;
  width: 100px;
}

.app-sidebar-close .sidebar-item-container .sidebar-menu-list {
  margin-top: 33px;
}

.app-sidebar-close .sidebar-item-container .sidebar-menu-list .menu-heading {
  display: none;
}

@media screen and (max-width: 999px) {
  .app-sidebar-close .sidebar-item-container .sidebar-menu-list .menu-heading {
    display: inline-block;
    width: 100%;
  }
}

.app-sidebar-close .sidebar-item-container .sidebar-menu-list li a,
.app-sidebar-close .sidebar-item-container .sidebar-menu-list li .dropdown-btn-wrap {
  justify-content: center;
}

.app-sidebar-close .sidebar-item-container .sidebar-menu-list li a iconify-icon,
.app-sidebar-close .sidebar-item-container .sidebar-menu-list li .dropdown-btn-wrap iconify-icon {
  font-size: 1.3rem;
}

.app-sidebar-close .sidebar-item-container .sidebar-menu-item {
  display: none;
}

@media screen and (max-width: 999px) {
  .app-sidebar {
    max-width: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out;
    left: 0;
  }

  .app-sidebar-open {
    transform: translateX(0%);
  }

  .app-sidebar .sidebar-item-container {
    padding: 14px 10px;
  }

  .app-sidebar .sidebar-item-container .sidebar-header-wrap {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    width: auto;
    align-items: center;
    padding: 12px 0 0 0;
  }

  .app-sidebar .close-btn {
    display: flex;
    align-items: center;
    position: relative;
  }

  .app-sidebar .close-btn .close-sidebar-btn {
    color: var(--primary);
    width: 32px;

  }

  .app-sidebar .sidebar-item-container .sidebar-menu-list {
    margin-top: 10px;
  }
}

.app-layout-main-content {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 350px);
  position: relative;
  left: 350px;
  top: 7.5rem;
  color: var(--text-primary);
}

@media screen and (max-width: 999px) {
  .app-layout-main-content {
    padding-top: 120px;
    padding-left: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 1rem;
    overflow-x: hidden;
  }
}

.app-layout-main-content-spc-remove {
  left: 150px;

  width: calc(100% - 150px);
}

@media screen and (max-width: 999px) {
  .app-layout-main-content-spc-remove {
    padding-top: 120px;
    padding-left: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 1rem;
    overflow-x: hidden;
  }
}

.layout-page-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.layout-page-section-header h2 {
  font-size: 22px;
}

.badge {
  user-select: none !important;
  text-transform: capitalize !important;
}

.badge-primary {
  background: var(--clr-theme-color) !important;
  color: var(--clr-coman-white) !important;
}

.table-action-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

@media screen and (max-width: 999px) {
  .layout-section-table-row-hide {
    display: none;
  }
}

.layout-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-page-card-spc {
  padding: 10px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 999px) {
  .layout-page-card-spc {
    padding: 4px;
  }
}

.layout-page-form-wrap label {
  padding-bottom: 3px;
}

.seller-fields-wrap,
.buyer-fields-wrap,
.item-fields-wrap {
  padding: 12px;
  margin-bottom: 1rem;
}

.layout-table-cell-name {
  font-size: 16px;
}

@media screen and (max-width: 999px) {
  .layout-table-cell-name {
    font-size: 12px;
    vertical-align: middle;
  }
}